{{#prettify}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{ title }}-{{ pkg.NAME }}{{else}}{{ pkg.NAME }}-{{ pkg.keywords }}{{/if}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ pkg.description }}{{/if}}" />
  <meta name="keywords" content="{{#if keywords}}{{ keywords }}{{else}}{{join pkg.keywords ','}}{{/if}}" />
  <link rel="stylesheet" type="text/css" href="{{obj_val compiled_assets '/assets/css/application.css'}}">
  <script src="{{obj_val compiled_assets '/assets/js/application.js'}}"></script>
  {{#unless production}}<script src="http://localhost:35729/livereload.js"></script>{{/unless}}
</head>

<body>
  <div class="header height-top">
    <a href="/" class="logo" title="熊虎山">
      <img alt="熊虎山" src="/images/xionghushan-logo.png">
    </a>
  </div>
  <div class="container main height-top">
    <div class="menu-container hr-bg">
      <div class="menu">
        <a href="/">首页</a>
        <a href="/about/">关于熊虎山</a>
        <a href="/products/">产品中心</a>
        <a href="/join/">招商加盟</a>
        <a href="/about/">工程资讯</a>
        <a href="/news/">五金资讯</a>
        <a href="/contact/">联系我们</a>
      </div>
    </div>
    {{>body}}
  </div>
  <div id="height-padding"></div>
  <div class="footer height-bottom">
    <div class="container">
      <div class="footer-copy">
        Copyright &copy; 1990-2014 佛山市顺德区熊虎山五金实业有限公司<br>
        网站建设与维护：<a href="http://www.8html.com/" target="_blank">8HTML</a>
      </div>
    </div>
  </div>
</body>
</html>
{{/prettify}}
