{{#prettify}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{ title }}-{{ pkg.NAME }}{{else}}{{ pkg.NAME }}-{{ pkg.keywords }}{{/if}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ pkg.description }}{{/if}}" />
  <meta name="keywords" content="{{#if keywords}}{{ keywords }}{{else}}{{join pkg.keywords ','}}{{/if}}" />
  <link rel="stylesheet" type="text/css" href="{{obj_val compiled_assets '/assets/css/application.css'}}">
  <script src="{{obj_val compiled_assets '/assets/js/application.js'}}"></script>
  {{#unless production}}<script src="http://localhost:35729/livereload.js"></script>{{/unless}}
</head>

<body>
  <div class="header">
  </div>
  <div class="container">
    <div class="menu-container hr-bg">
      <div class="menu">
        <a href="/products/">产品库</a>
        <a href="/about/">认识熊虎山</a>
        <a href="/join/">招商加盟</a>
        <a href="/enquiry/">五金咨询</a>
        <a href="/stores/">销售网点</a>
        <a href="/contact/">联系我们</a>
      </div>
    </div>
  </div>
</body>

</html>
{{/prettify}}
