{{#prettify}}
<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="UTF-8">
  <title>{{#if title}}{{ title }}-{{ pkg.NAME }}{{else}}{{ pkg.NAME }}-{{ pkg.keywords }}{{/if}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ pkg.description }}{{/if}}" />
  <meta name="keywords" content="{{#if keywords}}{{ keywords }}{{else}}{{join pkg.keywords ','}}{{/if}}" />
  <link rel="stylesheet" type="text/css" href="{{obj_val compiled_assets '/assets/css/application.css'}}">
  <script src="{{obj_val compiled_assets '/assets/js/application.js'}}"></script>
  {{#unless production}}<script src="http://localhost:35729/livereload.js"></script>{{/unless}}
</head>

<body>
  <div class="header height-top">
    <div class="container relative">
      <a href="/" class="logo" title="熊虎山">
        <img alt="熊虎山" src="/images/xionghushan-logo.png">
      </a>
      <div class="header-tel">
        国际长途免费热线：4006-020-198
      </div>
    </div>
  </div>
  <div class="container main height-top">
    <div class="menu-container hr-bg">
      <div class="menu">
        <div class="menu-item"><a {{{navLinkTo "/"}}}>首页</a></div>
        <div class="menu-item"><a {{{navLinkTo "/about/"}}}>关于熊虎山</a></div>
        <div class="menu-item"><a {{{navLinkTo "/products/"}}}>产品中心</a></div>
        <div class="menu-item"><a {{{navLinkTo "/join/"}}}>招商加盟</a></div>
        <div class="menu-item"><a {{{navLinkTo "/projects/"}}}>工程资讯</a></div>
        <div class="menu-item"><a {{{navLinkTo "/news/"}}}>五金资讯</a></div>
        <div class="menu-item"><a {{{navLinkTo "/contact/"}}}>联系我们</a></div>
      </div>
    </div>
    {{>body}}
  </div>
  <div id="height-padding"></div>
  <div class="footer height-bottom">
    <div class="container">
      <div class="footer-right">
        <a class="lang lang-weixin social-media" href="/images/weixin.png" title="扫描QR码关注官方微信账号">官方微信账号</a>
        <a class="lang lang-en" href="/" title="English">English</a>
        <a class="lang lang-zh" href="/" title="简体中文">中文</a>
        <div class="clearfix"></div>
      </div>
      <div class="footer-copy">
        Copyright &copy; 1990-2014 佛山市顺德区熊虎山五金实业有限公司<br>
        网站建设与维护：<a href="http://www.8html.com/" target="_blank">8HTML</a>
      </div>
    </div>
  </div>
</body>
</html>
{{/prettify}}
